################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# .NET / Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.sln.docstates
project.lock.json
artifacts/

# Build artifacts
*.pdb
*.log
*.tmp

# IDEs
.vscode/
_ReSharper*/

# Environment
.env
*.slnx
/dotNETSelenium/bin/Debug/net8.0/dotNETSelenium.dll
/dotNETSelenium/bin/Debug/net8.0/dotNETSelenium.exe
/dotNETSelenium/bin/Debug/net8.0/dotNETSelenium.pdb
